<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <style>
    :root {
      --bb-purple:#2d307a;
    }
  .container-box {
    background-color: var(--bb-purple);
    width: 200px;
    height: 200px;

  }
  </style>
</head>
<body>
  <div id="app">
    <div 
        v-for="(classify, classifyIndex) of arrClassify" 
        :key="classifyIndex"
        class="container-box"
      >
        <span>{{classify}}</span>
        <ul>
          <li 
            v-for="(label, labelIndex) of arrLabel" 
            :key="labelIndex"
          >

          </li>
        </ul>
      </div>
  </div>
<script>
  const { createApp } = Vue
  
  createApp({
    data() {
      return {
        message: 'Hello Vue!'
      }
    }
  }).mount('#app')

  const arrClassify = ref(["资源", "文章", "视频"])
  const arrLabel = ref([
    ['资源选项卡1', '资源选项卡2', '资源选项卡3'], 
    ['文章选项卡1', '文章选项卡2', '文章选项卡3'],
    ['视频选项卡1', '视频选项卡2', '视频选项卡3']
  ])
</script>
</body>

</html>