@font-face {
  font-family: "iconfont"; /* Project id 3737651 */
  src: url('../fonts/iconfont.woff2') format('woff2'),
       url('../fonts/iconfont.woff') format('woff'),
       url('../fonts/iconfont.ttf') format('truetype');
}

:root {
  /* 颜色定义 */
  --user-border-color:#B5B5B5;
  --preset-bs-purple:#2d307a;
  --perset-bs-shallowpurple:#525288;
  --preset-bs-darkpurple:#1f2040;
  --preset-bs-whitepurple:#74759b;
  --preset-bs-gray:#2d2e36;
  --preset-bs-whitegray:#475164;
  --preset-bs-blue:#93b5cf;
  --preset-bs-darkblue:#126bae;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a{
  color: #258aea;
}

body {
  /* background-color: #808080; */
  background-color: #fff;
  color: #001826;
}